@font-face {
	  font-family:"swiss-721-light-condensed-bt";
  font-weight: normal;
	src: url(../fonts/swiss-721-light-condensed-bt.ttf),url(../fonts/swiss-721-light-condensed-bt.otf), url(../fonts/swiss-721-light-condensed-bt.eot), url(../fonts/swiss-721-light-condensed-bt.svg), url(../fonts/swiss-721-light-condensed-bt.woff);
}


